
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');
:root{
    --bs-font-sans-serif: "Inter",sans-serif;
}
a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--bs-font-sans-serif);
    transition: all .2s linear;
    /* overflow: auto; */
}
li{
    list-style: none;
}
/* Side bar styling */
svg{
    width: 21px;
    height: 21px;
}

/* #374151; */

.volt{
    transform: translateX(5px);
}

.side-bar{
    background-color:#1f2937 ;
    width: 270px;
    height: 100vh;
    position: fixed;
    padding: 30px 20px;
    /* overflow: visible; */
    overflow-y: scroll;
    /* position: absolute; */
   
}
.side-bar::-webkit-scrollbar{
    width: 7px;
    /* counter-reset: ; */
    /* color: #000; */
}
.side-bar::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    border-radius: 7px;
    /* color: #000; */
}

.side-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 6px 6px 6px #000; 
    /* color: #000; */
}

.list-item{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
}
.list-item:hover{
    background-color: #374151;
    border-radius: 7px;
}

.list-item .icon i.fa-bolt{
    color: #f0bc74;
}
.list-item .icon{
    color: #9ca3af;
}
.list-item .text p{
    color: #fff;
    font-size: 17px;
}

.pro{
    background-color: #f0bc74;
    padding: 3px;
    color: #000;
    font-size: 13px;
    border-radius: 5px;
    font-weight: bold;
}
.border{
    border-bottom: 1px solid rgb(71, 68, 68);
    margin-top: 20px;
    margin-bottom: 20px;
}
.upgrade .pro{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    
}

.upgrade .pro:hover{
    background-color: #eeb15d;
}
.upgrade .pro p i{
    margin-right: 10px;
    /* font-weight: lighter; */
}

.list-item .pro{
    position: absolute;
    right: 11px;
    /* font-size: 16px; */
}


.chevron{
    color: #fff;
    position: absolute;
    right: 20px;
}

.bootstrap-drop{
    /* padding-left:100px; */
    height: 0px;
    /* display: flex; */
    gap: 20px;
    /* align-items: center; */
    /* padding: 10px; */
    padding-left: 50px;
    cursor: pointer;
    /* position: relative; */
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.page-drop{
    color: #fff;
    /* overflow: hidden; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    /* padding: 10px; */
    gap: 10px;
    
    cursor: pointer;
    height: 0;
    overflow: hidden;
    
}
.component-drop{
    color: #fff;
    /* overflow: hidden; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    /* padding: 10px; */
    gap: 10px;
    
    cursor: pointer;
    height: 0;
    overflow: hidden;
}
.page-drop .text,.component-drop .text{
    /* padding: 7px; */
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
   
}

.bootstrap-drop:hover,.page-drop .text:hover,.component-drop .text:hover{
    background-color: #374151;
    border-radius: 7px;
}

.bootstrap-3{
    height: 50px;
    padding: 10px;

}
.page-drop-show,.component-drop-show{
    height: 400px;
}
.rotate{
    transform: rotate(90deg);
}
/* f2f4f6 */
/* Main side styling */

.dashboard-container{
    /* display: flex; */
    position: relative;
}

.graph-bar{
    background-color:#f2f4f6 ;
    transform: translateX(270px);
    width: calc(100% - 270px);
    position: relative;
    padding-bottom: 50px;
    
}
.graph-bar .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.main-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.fa-searchengin{
    font-size: 20px;
    color: #90959f;
    background-color: #fff;
    padding: 10px;
    transform: translateY(1px);
    border-right: 2px solid #f2f4f6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d5db;
    
}

.search input{
    margin-left: -4px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border: 1px solid #6a6c6e; */
    border: 1px solid #d1d5db;
    font-size: 16px;
}
.search input::placeholder{
    color: #6b6b66;
}
.search input:focus{
    outline: none;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.right .profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.fa-bell{
    font-size: 20px;
    cursor: pointer;
}

.user-img{
    width: 45px;
    height: 45px;
    border-radius: 8px;
}
.notifications{
    width: 350px;
    background-color: #fff;
    position: absolute;
    right: 50px;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    top: 70px;
    display: none;
}
.notifications > p{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e5e7eb;
   
}
.user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 7px;
    border-bottom: 2px solid #e5e7eb;
}
.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-top: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

p.min{
    color: #e265ad;
    font-size: 14px;
    font-weight: bold;
    
}
.name:first-child{
    font-size: 17px;
    font-weight: bolder;
}
.para{
    font-size: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.show{
    display: block;
}
.dot{
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: red;
    position: absolute;
    top: -1px;
    right: 0;
}

.notify{
    position: relative;
}
.profile2{
    background-color: #fff;
    width: 200px;
    /* padding: 8px; */
    position: absolute;
    right: 10px;
    top: 75px;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    display: none;
    /* display: block; */
    
    
}
.show2{
    display: block;
}
.support{
    padding-bottom: 5px;
    border-bottom: 2px solid #e5e7eb;
}
.profile2 .items,.task-list-item{
    display: flex;
    align-items: center;
    gap :10px;
    padding: 10px;
    padding-bottom: 10px;
}

.profile2 .items p,.task-drop-text p{
    font-size: 15px;
    font-weight: bold;

}
.profile2 .items > svg, .task-list-item > svg{
    /* display: flex; */
    color: #9ca3af;
}
.profile2 .items:hover, .task-list-item:hover{
    background-color: #f2f4f6;
    cursor: pointer;
}
.items.log > svg,.task-list-item.log > svg{
    color: #e11d48;
}
.new-task{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161d27;
    color: #fff;
    width: 120px;
    height: 40px;
    gap: 10px;
    border-radius: 5px;
    transform: translateX(20px);
    cursor: pointer;
    
}
.new-task span{
    font-size: 23px;
}
.new-task p{
    font-size: 15px;
}
.new-task-drop{
    background-color: #fff;
    width: 200px;
    /* padding: 8px; */
    position: absolute;
    left: 10px;
    top: 150px;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    display: none;
    /* display: block; */
}
.show3{
    display: block;
}
.line-graph{
    padding: 15px;
    margin-top: 20px;
    /* border: 0.0625rem solid rgba(17,24,39,.125); */
}
.line-graph .upper{
    background-color: #ffeed6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #d7d9dd;
}
.line-graph .upper .sales-values{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
}
p.sales-heading{
    font-size: 19px;
    /* font-weight: bold; */
}
p.sales-cost{
    font-size: 26px;
    font-weight: bolder;
}
p.sales-day{
    font-size: 14px;
}
p.sales-day span{
    color: #10b994;
}
.pro.graph{
    padding: 10px;
    margin-right: 10px;
}
a.weak{
    color: #000;
    /* padding-right: 10px; */
}
.image img{
    /* object-fit: cover; */
    width: 100%;
}


.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0px 15px;
    margin-top: 20px;
}
.testimonial{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    border: 0.0625rem solid rgba(17,24,39,.125);
}

.test-icon{
    background-color: #bbbec3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 60px;
    border-radius: 10px;
}
.test-icon.second-icon{
    background-color: #faebd5;
}
.test-icon.third-icon{
    background-color: #c1c1d2;
}
.test-icon > svg.first{
    color: #1f2937;
    width: 40px;
    height: 60px;
}
.test-icon > svg.second{
    color: #f0bc74;
    width: 40px;
    height: 60px;
}
.test-icon > svg.third{
    color: #31316a;
    width: 40px;
    height: 60px;
}

.test-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.test-text p.test-head{
    font-size: 19px;
    font-weight: 600;
}
.test-text p.test-views{
    font-size: 30px;
    font-weight: bolder;
    line-height: 1;
    
}
.test-text p.test-date{
    font-size: 14px;
}
.test-date{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
}

.test-date svg{
    color: #6b7280;
    width: 17px;
    height: 17px;
}
.test-since{
    font-size: 14px;
    /* display: flex; */
    position: relative;
}
.test-since span{
    color: #55b981;
    font-weight: bolder;
    display: flex;
    gap: 5px;
}


td{
    background-color: #fff;
    /* border-radius: 10px; */
    /* padding: 10px; */
    
}

th.align-left{
    /* transform: translateX(-11px); */
    /* border: 1px solid red; */
    padding: 1.2rem 1.2rem;
    font-size: 15px;
}
tr{
    border: none;
}
table{
    border: none;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}

.table tbody tr td{
    color: #000;
    padding: 1.2rem 1.2rem;
    text-align: left;
    font-weight: 600;
    font-size: 15px;
}
.table thead tr th{
    text-align: left;
}

.page-upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 25px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 0.0625rem solid rgba(17,24,39,.125);
}

.page-visits-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    padding: 15px;
    margin-top: 20px;
}
.page-upper p{
    font-size: 20px;
    font-weight: bold;
}
.page-btn{
    background-color: #161d27;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.page-visits{
    border-radius: 10px;
    border: 0.0625rem solid rgba(17,24,39,.125);
}
tr{
    border-bottom: 0.0625rem solid rgba(17,24,39,.125);

}

.total-orders{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 30px;
    /* border-bottom: 0.0625rem solid rgba(17,24,39,.125); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0.0625rem solid rgba(17,24,39,.125);
}
.total-orders-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p.total-orders-head{
    font-weight: bold;
}
p.total-orders-num{
    font-size: 25px;
    font-weight: bold;
}
p.total-orders-per{
    font-size: 14px;
    font-weight: bold;
    color: #10c2be;
}
.total-orders-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateY(30px);
}
.orders-left-dot{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #000;
}
.orders-right-dot{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #f8bd7a;
}

.flex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: bold;
}

.total-orders-image img{
    width: 100%;
}

.team-users{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.team-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    /* gap: 10px; */
}
.team-user .team-info{
    display: flex;
    gap: 20px;
    align-items: center;
}
.team-user .team-info .pro-image img{
    width: 45px;
    height: 45px;
    border-radius: 8px;
}
.down-main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
    gap: 10px;

}
.pro-info{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.pro-info p{
    font-size: 15px;
    font-weight: bold;
}
.pro-online{
    display: flex;
    gap: 5px;
    align-items: center;
    /* justify-content: center; */
}
.pro-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
}
.pro-dot.green{
    background-color: #10b981;
}
.pro-dot.yellow{
    background-color: #f0bc74;
}
.pro-dot.red{
    background-color: #e11d48;
}
.pro-online span{
    font-size: 14px;
    font-weight: bold;
}
.btn-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 4px 10px;
    letter-spacing: 1px;
    cursor: pointer;
}
.progress-track{
    margin-top: 20px;
}

.progress-down{
    background-color: #fff;
    padding-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0.0625rem solid rgba(17,24,39,.125);
}

.progress-icon > svg{
    color: #6b7280;
    width: 30px;
    height: 25px;
}

.progress-item{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
   
}
.progress-data .progress-inner{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* width:280%; */
    /* border: 1px solid red; */
    /* gap: 20px; */
    /* border: 1px solid red; */
}
.progress-data{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border : 1px solid red; */
    width: 100%;
}

.progress-data p.per{
    font-size: 14px;
    font-weight: bold;
}
.progress-border{
    display: flex;
    /* width: 280%; */
}

.color-line{
    width: 75%;
    height: 6px;
    background-color: #10b981;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.color-line.sixty{
    width: 60%;
}

.color-line.fourty-five{
    width: 45%;
    background-color: #f3c78e;
}
.color-line.thirty-four{
    width: 34%;
    background-color: #e11d48;
}
.white-line{
    width: 25%;
    height: 6px;
    background-color: #e5e7eb;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.white-line.sixty{
    width: 40%;
}
.white-line.fourty-five{
    width: 55%;
}

.white-line.thirty-four{
    width: 66%;
}



.progress-inner p.rocket{
    font-size: 15px;
    font-weight: bold;
}

.global-rank{
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.global-rank-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 0.0625rem solid rgba(17,24,39,.125);
}
.global-rank-item.catagory{
    border-bottom: none;
}
.global-rank-left{
    display: flex;
    gap: 10px;
}
.global-rank-right{
    display: flex;
    gap: 10px;

}

.global-rank-right > svg, .global-rank-left > svg{
    color: #6b7280;
}

.global-content p{
    font-weight: bold;
}
.global-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.global-icon p{
    font-weight: 400;
}

.global-icon{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.global-icon .fa-chevron-up{
    position: absolute;
    right: -20px;
    font-size: 12px;
    top: 5px;
    color: #10b981;
}

.global-icon .fa-chevron-up.computer{
    position: absolute;
    top: 35px;
    left: 95px;
}

.acquisition{
    background-color: #fff;
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    border: 0.0625rem solid rgba(17,24,39,.125);
}


p.acq-head{
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

p.acq-text{
    line-height: 1.7;
    /* letter-spacing: 1px; */
    font-weight: 500;
    margin-bottom: 15px;
}

.acq-lower{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.acq-lower-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.acq-icon{
    background-color: #f6bbc8;
    padding: 10px;
    border-radius: 7px;
}
.acq-icon.down{
    background-color: #D7C4FA;
}
.acq-icon > svg{
    color: #E11D48;
    height: 25px;
    width: 25px;
}
.acq-icon.down > svg{
    color: #7C3AED;
}

.acq-detail{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bounce-up{
    font-size: 15px;
    font-weight: bold;
}
.bounce-down{
    font-size: 23px;
    font-weight: bolder;
}
.down-main-right{
    transform: translateY(-30px);
}

footer.footer{
 margin-top: 50px;
background-color: #fff;
padding: 50px;
display: flex;
justify-content: space-between;
/* border: 1px solid red; */
}

.footer-nav ul{
    display: flex;
    gap: 20px;
}

.footer-nav ul li a{
    color: #000;
}


.hamburger{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    align-items: center;
    display: none;
}

.ham-logo i{
    color: #eeb15d;
    font-size: 20px;
}
.ham-icon i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.side-bar-active{
    top: 0;
}

.side-bar-profile{
    display: flex;
    gap: 15px;
    align-items: center;
}
.side-bar-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.side-bar-detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-bar-detail > p{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.side-bar-button{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    cursor: pointer;


}
.side-bar-button > svg{
    color: rgb(83, 81, 81);
}
.side-bar-button p{
    color: rgb(92, 89, 89);
}
.side-bar-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(135, 137, 139, 0.125);
    display: none;
}
.side-bar-profile > svg{
    color: #fff;
    cursor: pointer;
}



/* Media queries */

@media(max-width:1200px){
    .testimonials{

        grid-template-columns: 1fr 1fr;
    }
    .page-visits-container{
      
        grid-template-columns: 1fr;

    }
    .down-main{
     
        grid-template-columns: 1fr;
    }
}

@media(max-width:990px){
    .hamburger{
        display: flex;
    }

    .side-bar{
        /* display: none; */
        position: absolute;
        z-index: 1;
        top: -700px;
        height: 110vh;
    }
    .graph-bar{
        width: 100%;
        transform: translateX(0px);
        z-index: -1;
    }
}

@media(max-width:766px){
    .side-bar{
        width: 100%;
    }
    .side-bar-profile{
        display: flex;
    }
}
@media(max-width:580px){

    .testimonials{
        grid-template-columns: 1fr;
    }

    .search input{
        width: 50px;
    }
}